{% extends "base.html" %}

<!-- content  -->
{% block content%}

<div class="main mt-5 offset-2">
    <div class="row">
        <div class="col-md-6 ">
            <div class="landing-img">
                <img src="../static/images/insta.png" alt="">
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="auth-data">
                <h2 class="inst-tle">Instagram</h2>
                <div class="u-name">
                    <input type="text" placeholder="username" name="username">
                </div>
                <div class="psw">
                    <input type="password" placeholder="password" name="password">
                </div>
                <button class="submit">log in</button>
            </div>
            <div class="hv-ac">
                <p>Have an account? <a href="{% url 'register' %}">Sign Up</a></p>
            </div>
        </div>
    </div>
</div>


{% endblock content%}