{% extends "base.html" %}

<!-- content  -->
{% block content%}

<div class="main mt-3">
    <div class="row">
        <div class="col-md-6 ">
            <div class="landing-img">
                <img src="../static/images/insta.png" alt="">
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="auth-data">
                <h3 class="sub-tle"><a href="{% url 'index' %}">InstaClone</a></h3>
                <div class="u-name">
                    <input type="text" placeholder="username" name="username">
                </div>
                <div class="psw">
                    <input type="password" placeholder="password" name="password">
                </div>
                <button class="submit">log in</button>
            </div>
            <div class="hv-ac">
                <p class="rm">Have an account? <a href="{% url 'register' %}">Sign Up</a></p>
            </div>
        </div>
    </div>
</div>

<hr class="hr"> {% endblock content%}